@import "vars.css";
@import "~bootstrap/scss/bootstrap";
@import "reset.css";
@import '~plyr/dist/plyr';

html{
  background-color: var(--theme_main-background);
}

.route {
  text-decoration: none !important;
}

.view-header{
  font-size: var(--font-size_big);
  color: var(--theme_header-text-color);
  margin: 15px 0;
  text-align: center;
}
